/* pallete: #eccbd9 (pink), #97C3FB (blue), #4FC8BC (green), EF3E79 (red) */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

a {
  margin-left: 10px;
}

.header {
  text-align: center; /* Center the text horizontally */
}
.header h1,
.header h3 {
  display: block;
  margin: 10px;
}

.navBar {
  display: flex;
  justify-content: center; /* Center horizontally */
  text-align: center; /* Center the text horizontally */
  margin-top: 20px;
  margin-bottom: 20px;
}

.abt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* set a height to the container for vertical centering */
}

.selfie {
  margin-right: 60px; /* Add some right margin between the image and text */

}

.selfie img {
    max-width: 100%; /* Optional: Ensure the image doesn't exceed the container's width */

}

.card-img {
     height: 200px; /* Set the desired height for the images */
     object-fit: cover;
 /* Maintain aspect ratio and cover the entire container */
}
